doctype
html(lang='en')
  head
    include ../includes/header
    +metaTags({ title: 'Blog - CodeAlive', description: 'View the CodeAlive blog, and learn new coding knowledge.' })

    link(rel='stylesheet', href='/css/blog.css')
  body
    include ../includes/navbar

    .mt-0.py-4.bg-transparent.text-center
      h1.display-3 Blog
      p.lead CodeAlive blog.

      hr

      .container
        .row
          for blog of blogs
            .col-lg-6
              a.card.my-2(href='/blog/' + blog._id)
                .card-img
                  img.card-img-top(src=blog.imageURL || '/img/default-blog.png')
                .card-body
                  h5.card-title #{blog.title}
                  p.card-text
                    | #{util.truncateWords(blog.body, 15)}...
          .col-12.mt-2
            if blogs.length <= 0
              p No blogs found...
            a.btn.bg-success.text-light(href='/blog/new') Create