doctype
html(lang='en')
  head
    include ../includes/header
    +metaTags({ title: 'New Article - CodeAlive', description: 'Create a blog for CodeAlive.' })
  body
    include ../includes/navbar

    .mt-0.py-4.bg-transparent.text-center
      h1.display-3 Blog
      p.lead CodeAlive blog.

      hr

    .container
      form(action='/blog', method='POST')
        .md-form
          label Title
          input.form-control(name='title', type='text', required)

        .md-form
          label Image URL
          input.form-control(name='imageURL', type='url', required)

        .md-form
          label Body
          textarea.form-control(name='body', required)
        
        .d-flex.justify-content-center.text-light
          button.btn.bg-success Post