doctype
html(lang='en')
  head
    include ../includes/header
    +metaTags(blog)

    link(rel='stylesheet', href='/css/blog.css')

    script(src='https://cdn.jsdelivr.net/npm/marked/marked.min.js', defer)
    script(defer).
      $(() => $('#markdown').html(marked(`!{JSON.stringify(blog.body)}`)));
  body
    include ../includes/navbar

    .mt-0.pb-4.bg-transparent
      .jumbotron.p-0
        img.mr-3.float-left(src=blog.imageURL)
        div
          h1.display-5.pt-5 #{blog.title}
          p.float-right.lead
            +author(user, blog)
          div
            if blog.authorId == user.id
              a.btn.bg-warning(href='/blog/' + blog._id + '/edit', hidden) Edit
              form.d-inline(action='/blog/' + blog._id + '?_method=DELETE', method='POST')
                button.btn.bg-danger(href='/blog/' + blog._id) Delete
      .container
        #markdown