.card img {
  transition: transform .4s;
  display: block;
}

a.card {
  border: none;
  transition: transform .2s;
  text-decoration: none;

  color: var(--font);
}

.card:hover {
  transform: scale(1.05);
}

.card-img {
  overflow: hidden;
  border-radius: 0;
}

.card-img:hover img {
  cursor: pointer;
  transform: scale(1.35);
}

/* show */
.jumbotron {
  height: 325px;
}
.jumbotron img {
  max-width: 325px;
  max-height: 325px;
  width: 512px;
  height: 325px;
  
  object-fit: cover;
}