footer
  span.links.float-right
    a.px-1(href='https://youtube.com/adamjr') #[i.fab.fa-youtube]
    a.px-1(href='https://discord.io/adamjr') #[i.fab.fa-discord]
    a.px-1(href='https://github.com/theADAMJR/codealive') #[i.fab.fa-github]
  span.float-left.pt-2 &copy; codea.live