doctype
html(lang='en')
  head
    include includes/header
    +metaTags

    link(rel='stylesheet', href='/css/index.css')
    script(src='/js/index.js', defer)
  body
    include includes/navbar

    .header.text-center.bg-transparent.text-light
      img.mb-2(src='/img/icon.png')
      h1.display-4.text-dark Learn to Code Online
      |
      button.subscribe-button.center-content
        span.button-description Subscribe
        |
        form(action='/subscribe', method='POST')
          .form-header
            | Newsletter
          .description Join our mailing list
            div.badge.badge-success.ml-2 EARLY ACCESS
          input#name(type='text', placeholder='Name', name='name')
          input#email(type='email', placeholder='Email', name='_id')
          alert#formError.alert-danger
          span.confirm-button Subscribe

    .courses.d-flex.justify-content-center.mr-5
      .ml-5.card
        a(href='https://www.udemy.com/course/create-the-best-discord-bot/?referralCode=5CB95A4D9309B1F54560')
          img.card-img-top(src='https://img-b.udemycdn.com/course/240x135/3011594_bd1b_3.jpg?secure=93eKKnQDt3Gwz8NLblHqVA%3D%3D%2C1605120415')
        .card-body
          a(href='https://www.udemy.com/course/create-the-best-discord-bot/?referralCode=5CB95A4D9309B1F54560')
            h2 Create the Best Discord Bot with Node.js
          p.text-dark Master the Discord API, and create robust and Dynamic discord bots with NodeJS!

    include includes/footer