doctype
html(lang="en")
  head
    include includes/header

    link(rel='stylesheet', href='/css/index.css')
  body
    .jumbotron.text-center.bg-transparent.text-light
      img
      h1.display-3 Subscribed.